body {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  background-color: #fff;
}

.rocket{
  margin-left: 20px;
}

.logoContainer{
  padding-left: 40px;
  padding-right: 40px;
}

.logo{
  margin-top: 40px;
  padding:30px 30px;
  border-radius: 30px;
  border: 2px solid #926eff;
  margin-bottom: 20px;
  height:80px;
}

.title{
  font-size: 1em;
  color: #5623f0;
  margin-bottom: 120px;
}

.bubbly-button {

  font-family: "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: 1em 2.5em;
  margin: auto;
  margin-top: 120px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #4913eb;
  color: #fff;
  border-radius: 200px;
  border: 9px solid #5623f0;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #6b3cf87a;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -95%;
  background-image: radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, transparent 20%, #5623f0 20%, transparent 30%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #5623f0 15%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%);
  background-size: 30% 30%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 30% 30%, 15% 15%, 30% 30%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -95%;
  background-image: radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #5623f0 15%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%), radial-gradient(circle, #5623f0 20%, transparent 20%);
  background-size: 20% 20%, 20% 20%, 18% 18%, 20% 40%, 35% 35%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #4913eb;
  box-shadow: 0 2px 25px rgba(25, 0, 255, 0.3);;
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.9s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.9s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


@media(min-width: 800px){
  .title{
    font-size: 1.1em;
  }
  .logo{
    height: 140.621px;
    width: 508.113px;
  }
  .logoContainer{
    padding-left: 100px;
    padding-right: 100px;
  }
}